html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	    font: 0.92em/1.4 Arial, sans-serif;
}

label {
	margin-top: 10px;
	font-weight: bold;
	display: block;
}

	input{
		border:1px solid #ccc;
		padding:8px;
		font-size:14px;
		width:300px;
		}
	.submit{
		width:110px;
		background-color:#FF6;
		padding:3px;
		border:1px solid #FC0;
		margin-top:20px;
	}	
	.container {
		width: 800px;
		margin: 0 auto;
		position: relative;
		display: table;
	}
	header {
		display: table-row;
	}
	.error {

	}
	.form textarea, .form input {
		width: 100%;
		box-sizing: border-box;
	}
	.image, .form {
		display: table-cell;
		width: 50%;
		vertical-align: top;
		box-sizing: border-box;
		position: relative;
		padding: 25px;
	}
	.image img {
		width: 100%;
		height: auto;
		border: 2px solid #c9c9c9;
		border-radius: 10px;
		box-shadow: 0px 15px 38px -19px #000;
	}
	.image_wrap {
		position: relative;
	}
	.image_wrap .canvas {
		    transform: scale(0.55);
		    border-radius: 25px;
		    overflow: hidden;
		    height: 660px;
		    position: absolute;
		    top: 2px;
		    transform-origin: top left;
		    left: 2px;
	}
	#img {
		display: none;
	}
#range_wrap {
	display: none;
}

.error {
    border: 1px solid red;
    margin: 6px;
    display: block;
    padding: 10px;
}
#get {
		display: none;
}
#get a {
	cursor: pointer;
	border: none;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
    background: #f68b1f;
    color: #fff;
    border-radius: 11px;
    padding: 11px;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}

header {
    display: block;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
#newphoto {
	    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
        width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    width: 300px;
	display: none;
}